#body{
	font-family: "微软雅黑";
}

h1{
	margin: 5px 0px 5px 0px;
	font-size: 25px;
}

h2{
	margin: 3px 0px 3px 0px;
	font-size: 20px;
}

p{
	margin: 3px 0px 3px 0px;
	text-indent: 2em;
	line-height: 24px;
}

table{
	border-collapse: collapse;
	margin: auto;
	text-align: center;
}

ol{
	margin: 0;
}

.image{
	margin: 5px 0px 5px 0px;
	text-align: center;
}

.point{
	background-color: #ffffff;
}

textarea{
	margin: 5px 0px 5px 0px;
	margin-left: 2em;
	padding: 5px;
	width: 600px;
	border: none;
	resize: none;
	font-family: 微软雅黑;
	background-color: #5f5f5f;
	color: #ffffff;
}