#body{
	width: 1200px;
	margin: auto;
	margin-top: 20px;
}

iframe{
	height: 2500px;
}

#list{
	background-color: #eeeeee;
	border: 0px;
	width: 300px;
}

#content{
	background-color: #eeeeee;
	border: 0px;
	width: 892px;
}

#top_button{
	margin-top: 200px;
	margin-left: 1300px;
}

#top{
	position:absolute; 
	clip:rect(0px 50px 50px 0px);
}