*{
    margin: 0px;
    padding: 0px;
}

#head{
    height: 600px;
    font-family: 楷体;
    text-align: center;
}

h1{
    font-size: 80px;
    padding-top: 200px;
}

h2{
    font-family: Helvetica;
    text-decoration: none;
}

a{
    color: #000000;
    text-decoration: none;
}
