body {
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
}

blockquote{
	border-left: #999999 solid 5px;
	background-color: #f5f5f5;
	padding: 0 10px;
}

pre{
	background-color: #eee;
	padding: 10px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

table,th,td
{
	border: 1px solid gray;
	padding: 3px;
}

table{
	border-collapse: collapse;
	width: 100%;
}