*{
    margin: 0px;
    padding: 0px;
}

body{
    color: #777777;
    font-family: 微软雅黑;
}

#head{
    margin: 80px auto;
    width: 600px;
}

#about{
    margin-top: 50px;
    width: 600px;
    height: 300px;
}

#contact{
    width: 500px;
    height: 400px;
}

#knowledge{
    margin: 200px auto;
    width: 600px;
}

.know{
    width: 560px;
    height: 350px;
    margin: 20px 0 20px 0;
    background-size: 100% 100%;
}

#word{
    background-image: url(../image/word.jpg);
}

#computer{
    background-image: url(../image/computer.jpg);
}

#math{
    background-image: url(../image/math.jpg);
}

#others{
    background-image: url(../image/others.jpg);
}

.know ._know{
    width: 360px;
    height: 250px;
    padding: 100px 100px 0 100px;
    background-color: #efefef;
    display: none;
}

.know:hover ._know{
    display: block;
}

#end{
    height: 100px;
    margin-top: 100px;
    font-size: 15px;
    text-align: right;
}

h1{
    font-size: 25px;
    padding-bottom: 20px;
}

p{
    margin: 20px 0 10px 0;
}

ul{
    list-style-type: none;
    margin: 10px 0 10px 0;
}

li{
    margin: 4px 0px 4px 0px;
}

.con{
    float: left;
    margin-right: 80px;
}